body {
    font-family: Serif;
    font-size: 20px;
    padding: 0 20px;
  }
  
  main {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
  }
  
  p {
    max-width: 500px;
    text-align: center;
    padding: 0 20px;
  }
  
  code {
    color: firebrick;
  }
  
  img {
    max-width: 200px;
    height: auto;
  }
  
  button {
    margin-top: 10px;
    border: dotted rgb(131, 61, 145);
  }